.Header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-block: 20px 40px;
	align-items: self-start;
	margin-inline: 10%;
	block-size: 16vh;
}

.Header__title {
	font-size: 28px;
}

.Header__controller {
	display: flex;
	align-items: center;
	justify-content: space-between;
	inline-size: 100%;
	column-gap: 20px;
	margin-block-start: 30px;
}
