block variables
    - var lang = 'ru';
    - var title = 'page';

doctype html
html(lang=lang)

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="color-scheme" content="dark light")
        title #{title}

    body.Page
        include widgets/header/Header.pug

        main.Main
            block content

        include widgets/footer/Footer.pug
